@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("./assets/fonts/gotham/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: lighter;
  src: url("./assets/fonts/gotham/GothamLight.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: regular;
  src: url("./assets/fonts/gotham/GothamMedium.ttf") format("truetype");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.green__gradient {
  background: linear-gradient(90deg, #191414 0%, #8a5f56 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.3);
  filter: blur(750px);
}
